<article class="content forms-page">
    <div class="title-block">
        <h3 class="title"> Add Counry </h3>
        <p class="title-description"> Add new country here </p>
    </div>
    <section class="section">
        <div class="row sameheight-container">
            <div class="col-md-6">
                <div class="card card-block sameheight-item">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Country Name</label>
                        <input type="email" class="form-control" placeholder="Country name" [(ngModel)]="country.Name">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-block sameheight-item">
                    <div class="form-group">
                        <label for="exampleInputPassword1">Decription</label>
                        <input type="text" class="form-control" placeholder="Country description" [(ngModel)]="country.Description">
                    </div>
                    <div class="form-group">
                        <button type="submit" (click)="addnewCountry()" class="btn btn-primary">  Add New Country </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-block">
                        <div class="card-title-block">
                            <h3 class="title"> Country List </h3>
                        </div>
                        <section class="example">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                        <th class="mdl-data-table__cell--non-numeric">Name</th>
                                        <th class="mdl-data-table__cell--non-numeric">Description</th>
                                        <th>Delete</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of _country">
                                            <td class="mdl-data-table__cell--non-numeric">{{item.Name}}</td>
                                            <td class="mdl-data-table__cell--non-numeric">{{item.Description}}</td>
                                            <td class="pad5">
                                                <button (click)="deleteCountry(item)" md-raised-button color="accent">Delete Country </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </section>
</article>
