<md-card class="demo-card demo-basic">
    <md-toolbar color="accent">Add New Department</md-toolbar>
    <md-card-content class="mdl-shadow--6dp pad5">
        <table style="width: 100%" cellspacing="0">
            <tr>
                <td>
                    <md-input-container>
                        <input mdInput placeholder="State name" [(ngModel)]="dept.deptName">
                    </md-input-container>
                </td>
            </tr>
        </table>
        <div class="mdl-card__actions mdl-card--border">
            <button id="addnewcountryButton" (click)="addNewDepartment()" md-raised-button color="accent">  Add New Department </button>
        </div>
    </md-card-content>
</md-card>

<md-card class="demo-card demo-basic">
    <md-toolbar color="accent">Department List</md-toolbar>
    <md-card-content>
        <table class="mdl-data-table mdl-js-data-table full101">
            <thead>
                <tr>
                    <th class="mdl-data-table__cell--non-numeric">Name</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of _deptList">
                    <td class="mdl-data-table__cell--non-numeric">{{item.deptName}}</td>
                    <td class="pad5">
                        <button md-raised-button color="accent">Delete Department </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </md-card-content>
</md-card>