<article class="content forms-page">
    <div class="title-block">
        <h3 class="title"> Add Department </h3>
        <p class="title-description"> Add new department here </p>
    </div>
    <section class="section">
        <div class="row sameheight-container">
            <div class="col-md-12">
                <div class="card card-block sameheight-item">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Department Name</label>
                        <input type="text" class="form-control" placeholder="Department name" [(ngModel)]="dept.deptName">
                    </div>
                    <div class="form-group">
                        <button id="addnewcountryButton" class="btn btn-primary" (click)="addNewDepartment()">  Add New Department </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-block">
                        <div class="card-title-block">
                            <h3 class="title"> Department List </h3>
                        </div>
                        <section class="example">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th class="mdl-data-table__cell--non-numeric">Name</th>
                                            <th>Delete</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of _deptList">
                                            <td class="mdl-data-table__cell--non-numeric">{{item.deptName}}</td>
                                            <td class="pad5">
                                                <button md-raised-button color="accent">Delete Department </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </section>
</article>