<div class="mdl-layout mdl-js-layout">
    <header class="mdl-layout__header mdl-layout__header--scroll">
        <div class="mdl-layout__header-row">
            <span class="mdl-layout-title">Employee Management</span>
            <div class="mdl-layout-spacer"></div>
            <router-outlet name="header">
            </router-outlet>
        </div>
    </header>
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">Employee Mgmnt</span>
        <router-outlet name="navbar">
        </router-outlet>
    </div>
    <main class="mdl-layout__content">
        <div class="page-content">
            <router-outlet></router-outlet>
        </div>
    </main>
    <router-outlet name="footer">
    </router-outlet>
</div>