<nav class="mdl-navigation">
    <a class="mdl-navigation__link" routerLink="/myapp/" routerLinkActive="active">Home</a>
    <a class="mdl-navigation__link" routerLink="/myapp/country" routerLinkActive="active">Country</a>
    <a class="mdl-navigation__link" routerLink="/myapp/state" routerLinkActive="active">State</a>
    <a class="mdl-navigation__link" routerLink="/myapp/department" routerLinkActive="active">Department</a>
    <a class="mdl-navigation__link" routerLink="/myapp/addemployee" routerLinkActive="active">Employee</a>
    <!--<a class="mdl-navigation__link" routerLink="/myapp/login" routerLinkActive="active">Login</a>-->
    <a class="mdl-navigation__link" routerLink="/myapp/register" routerLinkActive="active">Register</a>
</nav>