<article class="content forms-page">
    <div class="title-block">
        <h3 class="title"> Add Employee </h3>
        <p class="title-description"> Add new employee here </p>
    </div>
    <section class="section">
        <div class="row sameheight-container">
            <form [formGroup]="fg" (ngSubmit)="addNewEmployee(fg.value)" novalidate>
                <div class="col-md-6">
                    <div class="card card-block sameheight-item">
                        <div class="form-group has-error">
                            <label for="exampleInputEmail1">Emplyee Name</label>
                            <input type="text" class="form-control boxed" formControlName="empName" id="exampleInputEmail1" placeholder="Enter name">
                            <span class="has-error" *ngIf="fg.get('empName').hasError('required') && fg.get('empName').touched">
                                Employee Name is required
                            </span>
                        </div>
                        <div class="form-group has-error">
                            <label for="exampleInputPassword1">Email</label>
                            <input type="text" class="form-control boxed" id="exampleInputPassword1" formControlName="empEmail" placeholder="Email">
                            <span class="has-error" *ngIf="fg.get('empEmail').hasError('required') && fg.get('empEmail').touched">
                                Employee Email is required
                            </span>
                        </div>
                        <div class="form-group has-error">
                            <label for="exampleInputEmail1">Contact Number</label>
                            <input type="text" class="form-control boxed" id="exampleInputEmail1" placeholder="Enter Contact Number" formControlName="empMobileNumber">

                            <span class="has-error" *ngIf="fg.get('empMobileNumber').hasError('required') && fg.get('empMobileNumber').touched"> Employee Contact Number is required</span>
                        </div>
                        <div class="form-group has-error">
                            <h2> {{fg.get('empDepartmentID').value}}</h2>
                            <dept-selector-list (myEvent)="localEvent($event)">
                            </dept-selector-list>
                            <span class="has-error" *ngIf="fg.get('empDepartmentID').hasError('required') && fg.get('empDepartmentID').touched">
                                Employee Department is required
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card card-block sameheight-item">
                        <div class="form-group has-error">
                            <label for="exampleInputEmail1">Joining Date</label>
                            <input type="text" class="form-control boxed" formControlName="empJoiningDate" id="exampleInputEmail1" placeholder="Enter Joining Date" />
                            <span class="has-error" *ngIf="fg.get('empJoiningDate').hasError('required') && fg.get('empJoiningDate').touched">
                                Employee Joining is required
                            </span>
                        </div>
                        <div class="form-group has-error">
                            <label for="exampleInputPassword1">Employee Details</label>
                            <input type="text" class="form-control boxed" formControlName="empDetails" id="exampleInputPassword1" placeholder="Details">
                            <span class="has-error" *ngIf="fg.get('empDetails').hasError('required') && fg.get('empDetails').touched">
                                Employee Details is required
                            </span>
                        </div>
                        <div class="form-group has-error">
                            <label for="exampleInputEmail1">Designation</label>
                            <input type="text" class="form-control boxed" formControlName="empDesignation" id="exampleInputEmail1" placeholder="Enter Designation" />
                            <span class="has-error" *ngIf="fg.get('empDesignation').hasError('required') && fg.get('empDesignation').touched">
                                Employee Desingation is required
                            </span>
                        </div>
                        <div class="form-group has-error">
                            <label class="control-label">Active Status</label>
                            <div>
                                <label>
			                    <input class="radio" value="true" formControlName="empActiveStatus" name="empActiveStatus" type="radio">
			                    <span>Active</span>
			                </label>
                                <label>
			                    <input class="radio" value="false" formControlName="empActiveStatus" name="empActiveStatus" type="radio">
			                    <span>Inactive</span>
			                </label>
                            </div>
                            <span class="has-error" *ngIf="fg.get('empName').hasError('required') && fg.get('empName').touched">
                                Employee Status is required
                            </span>
                        </div>
                        <div class="form-group">
                            <button type="submit" id="addnewcountryButton" [disabled]="fg.invalid" class="btn btn-primary">  Add New Employee </button>

                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
</article>